.navbar {
    width: 100%;
    background-color: #74c69d;
    display: flex;
    flex-direction: column;
  }
  
  .mainNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 123px;
  }
  
  .navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1186px;
    padding: 0 16px;
  }
  
  .logoTitle {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .title {
    font-size: 35px;
    color: white;
  }
  
  .desktopMenu {
    display: none;
    gap: 32px;
    font-size: 18px;
    font-weight: 300;
    color: white;
  }
  
  .desktopMenu li {
    list-style: none;
  }
  
  .desktopMenu li a {
    text-decoration: none;
    color: white;
  }
  
  .mobileMenuButton {
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
  }
  
  .menuIcon {
    width: 36px;
    height: 36px;
  }
  
  .mobileMenu {
    background-color: #74c69d;
    width: 100%;
  }
  
  .mobileMenuList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 300;
    color: white;
  }
  
  .mobileMenuList li {
    list-style: none;
  }
  
  .mobileMenuList li a {
    text-decoration: none;
    color: white;
  }
  
  /* Responsive Design */
  @media (min-width: 640px) {
    .desktopMenu {
      display: flex;
    }
  
    .mobileMenuButton,
    .mobileMenu {
      display: none;
    }
  }
  