.textContainer {
    max-width: 411px;
    width: auto;
    margin: 30px auto 82px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.worksText {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 5px;
    color: #74C69D;
}

.portfolioHeading {
    font-weight: bold;
    font-size: 20px;
    font-family: serif;
    color: black;
}

.descriptionText {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: black;
}

/* Media queries for responsiveness */
@media screen and (min-width: 640px) {
    .worksText {
        font-size: 14px;
    }

    .portfolioHeading {
        font-size: 40px;
    }

    .descriptionText {
        font-size: 16px;
        line-height: 25px;
    }
}


.cardGrid {
    max-width: 1187px;
    width: 100%;
    margin: 0 auto 16px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
}

@media screen and (min-width: 640px) {
    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.cardContainer {
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 4px;
}

.cardImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.buttonContainer {
    margin-bottom: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learnMoreButton {
    width: 170px;
    height: 48px;
    border-radius: 6px;
    background-color: black;
    color: white;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    transition: all 0.3s ease;
    border: none;
    outline: none;
    margin-top: 64px;
}

.learnMoreButton:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.learnMoreButton:active {
    background-color: black;
    color: white;
}
